.title {
    margin: 25px 10px;
}

.products {
    max-width: 800px;
    margin: auto;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-info {
    display: flex;
    align-items: center;
}

.product-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.product-info #name {
    font-size: 18px;
    font-weight: 600;
    margin: auto 10px;
}

.product-actions {
    display: flex;
    align-items: center;
}

.product-actions button {
    margin-left: 10px;
    padding: 8px 12px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.product-actions #btnUpdate {
    background-color: #36f446;
}

.product-actions #btnLock {
    background-color: #ff9800;
}

.product-actions #btnDelete {
    background-color: #f44336;
}

/* Estilos del Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    z-index: 999;
    display: none;
}

.modal-overlay.active {
    display: block;
}

.update-product-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    max-width: 400px;
    width: 100%;
}

.update-product-modal h2 {
    margin-bottom: 15px;
}

.update-product-modal label {
    display: block;
    margin-bottom: 5px;
}

.update-product-modal input,
.update-product-modal textarea {
    width: 90%;
    padding: 8px;
    margin: 0 auto 10px auto;
    justify-content: center;
}

#stockP {
    font-size: 18px;
    margin-left: 15px;
    font-weight: 600;
}

.update-product-modal textarea {
    height: 60px;
    resize: none;
}

.update-product-modal button {
    padding: 8px 12px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.update-product-modal button:first-child {
    background-color: #36f446;
    margin-right: 10px;
}

.update-product-modal button:last-child {
    background-color: #f44336;
}

.btns {
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 10px auto;
}

.btns button {
    margin: 10px 0;
}

.update-product-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.delete-confirmation p {
    margin-bottom: 15px;
    font-size: 16px;
}

.delete-confirmation button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.delete-confirmation button:first-child {
    background-color: #e74c3c;
    color: #fff;
}

.delete-confirmation button:last-child {
    background-color: #333;
    color: #fff;
}

.delete-confirmation.active {
    display: block;
}