<header>
    <ul>
        <li><a [routerLink]="['/home']">INICIO</a></li>
        <li><a [routerLink]="['/products']">PRODUCTOS</a></li>
        <li id="logo"><a href="#"><img src="../assets/css/img/logo2.png" alt="Logo"></a></li>
        <li><a [routerLink]="['/services']">SERVICIOS</a></li>
        <li><a [routerLink]="['/contact']">CONTACTO</a></li>
    </ul>
</header>

<section id="content">
    <router-outlet></router-outlet>
</section>

<footer>
    <section class="content">
        <div class="colL">
            <h2>Estilos & Tendencias &reg;</h2>
            <i class="fa-solid fa-location-pin"></i>
            <ul>
                <li><a><i class="fa fa-phone"></i>+57 322 3126 617</a></li>
                <li><a><i class="fa fa-map-pin"></i>La Carrera, Norte de Santander</a></li>
                <li><a><i class="fa fa-brands fa-instagram"></i>@estilos_tendencias</a></li>
            </ul>
        </div>
        <div class="colR">
            <img src="../assets/css/img/logo2.png" alt="">
        </div>
    </section>
    <p id="dev">Desarrollado por: David Sepúlveda 2023&copy;</p>
</footer>