/* Estilos para el banner */
.banner {
    width: 100%;
    height: 650px;
    background: url("../../../assets/css/img/banner_productos.jpg") rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
    padding: 100px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.content {
    width: 90%;
    margin: 0 auto;
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.2em;
}


/* Estilos para el menú */
.nav {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav li {
    display: inline-block;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #00000088;
    color: #000000a4;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 15px;
}

.nav li:hover {
    background-color: #00000088;
    color: #ffffff;
    transform: scale(1.1);
}

.nav .active {
    background-color: #00000088;
    color: #ffffff;
    transform: scale(1.1);
}



/* information */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    align-items: stretch;
}

.product {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    width: 25%;
    cursor: pointer;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 95%;
    height: 200px;
    border-radius: 8px;
}

.product h2 {
    font-size: 1.5em;
    margin-top: 10px;
}


.product .description {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
    text-align: justify;
    max-lines: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product .price {
    font-size: 1.2em;
    color: #EAA300;
    margin-top: 10px;
    font-weight: bold;
}