<section class="banner">
    <div class="textBanner">
        <h1>P R O D U C T O S</h1>
        <p>Conoce sobre los productos que manejamos en nuestro salón de belleza</p>
    </div>
</section>

<section class="content">
    <div class="nav">
        <ul>
            <li (click)="changeCategory(null)" [ngClass]="{'active': activeCategory === null}">Todos</li>
            <li *ngFor="let category of uniqueCategories" (click)="changeCategory(category)"
                [ngClass]="{'active': activeCategory === category}">
                {{ category }}
            </li>
        </ul>
    </div>

    <div class="information">
        <p>
            En Estilos & Tendencias también contamos con nuestra tienda física y virtual donde ofrecemos productos
            relacionados para el cuidado de tu imagen. En este apartado podrás observar los productos que tenemos
            disponibles para ti.
        </p>
    </div>
    <div class="products">
        <div *ngIf="loading" class="loader-container">
            <div class="loader"></div>
        </div>
        <div *ngFor="let product of filteredProducts()" class="product">
            <img [src]="product.image" alt="{{ product.name }}">
            <p id="name">{{ product.name }}</p>
            <p id="description">{{ product.description }}</p>
            <p id="price">$ {{ product.price }} COP</p>
            <button class="add-to-cart">
                Agregar al carro <i class="fas fa-shopping-cart"></i>
            </button>
        </div>
    </div>

</section>