<section class="banner">
    <div class="textBanner">
        <h1>P R O D U C T O S</h1>
        <p>Conoce sobre los productos que manejamos en nuestro salón de belleza</p>
    </div>
</section>

<section class="content">
    <div class="nav">
        <ul>
            <li id="active">Shampoos</li>
            <li>Keratinas</li>
            <li>Barberia</li>
            <li>Tratamientos</li>
        </ul>
    </div>
    <div class="information">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, ea laboriosam? Consectetur illum unde
            odio expedita incidunt molestias eveniet obcaecati ipsum aperiam, eaque quaerat, eius tempore iusto,
            sapiente quibusdam. Placeat.</p>
    </div>
    <div class="products">
        <div class="product" data-aos="fade-up">
            <h3 class="titleProduct">Name Product</h3>
            <p class="description">Descripción del producto en venta</p>
            <p class="price">Precio:</p>
            <p class="priceCOP">$10.000 COP</p>

        </div>
    </div>
</section>