<section class="banner">
    <div class="textBanner">
        <h1>P R O D U C T O S</h1>
        <p>Conoce sobre los productos que manejamos en nuestro salón de belleza</p>
    </div>
</section>

<section class="content">
    <div class="nav">
        <ul>
            <li (click)="changeCategory(null)" [ngClass]="{'active': activeCategory === null}">Todos</li>
            <li *ngFor="let category of uniqueCategories" (click)="changeCategory(category)"
                [ngClass]="{'active': activeCategory === category}">
                {{ category }}
            </li>
        </ul>



    </div>
    <div class="information">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, ea laboriosam? Consectetur illum unde
            odio expedita incidunt molestias eveniet obcaecati ipsum aperiam, eaque quaerat, eius tempore iusto,
            sapiente quibusdam. Placeat.
        </p>
    </div>
    <div class="products">
        <div *ngFor="let product of filteredProducts()" class="product">
            <img [src]="product.image" alt="{{ product.name }}">
            <h2>{{ product.name }}</h2>
            <p class="description">{{ product.description }}</p>
            <p class="price">$ {{ product.price }} COP</p>
        </div>
    </div>

</section>