/* Estilos generales */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../../assets/css/img/banner_login.jpg");
  background-size: cover;
  color: #fff;
}

.centered-form {
  width: 700px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.733);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.575);
  backdrop-filter: blur(10px);
  margin-top: 70px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  margin: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #f3f3f3;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  border: 3px solid #4e4e4e;
  border-radius: 5px;
  background-color: #585858;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.links {
  text-align: center;
  margin-top: 20px;
  display: block;
}

.links a {
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.links a:hover {
  text-decoration: underline;
}

#login {
  color: #333;
  font-weight: 300;
  text-align: center;
}

/* Mensajes Error */
.error-message {
  position: absolute;
  top: 80px;
  left: 15px;
  z-index: 1000;
  color: #fff;
  background-color: #e74c3c;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: top 0.5s ease;
}

.error-message.password-mismatch {
  background-color: #f39c12;
}
