<section class="content">
    <form *ngIf="!registrationSuccess" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="centered-form">
        <h2>Registro de Usuario</h2>
        <div class="form-row">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" formControlName="nombre" />
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" formControlName="apellido" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="correo">Correo:</label>
                <input type="email" id="correo" formControlName="correo" />
            </div>
            <div class="form-group">
                <label for="confirmarCorreo">Confirmar Correo:</label>
                <input type="email" id="confirmarCorreo" formControlName="confirmarCorreo" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="clave">Clave:</label>
                <input type="password" id="clave" formControlName="clave" />
            </div>
            <div class="form-group">
                <label for="confirmarClave">Confirmar Clave:</label>
                <input type="password" id="confirmarClave" formControlName="confirmarClave" />
            </div>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" formControlName="aceptarTyC" /> Aceptar Términos y Condiciones
            </label>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
        </div>
        <div class="form-group links">
            <p id="login"> ¿Ya tienes una cuenta? </p>
            <a [routerLink]="['/login']">Inicia sesión aquí</a>
        </div>
    </form>

    <div *ngIf="registrationSuccess" class="confirmation-message">
        <h2>Registro Exitoso</h2>
        <p>Por favor, revisa tu correo electrónico para completar el registro.</p>
    </div>
</section>