<section class="container">
    <div class="form-container">
        <h1>Reestablecer contraseña</h1>
        <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="newPassword">Nueva contraseña</label>
                <div class="input-container">
                    <input formControlName="newPassword" type="password" class="form-control" id="newPassword"
                        placeholder="Nueva contraseña" autocomplete="off">
                    <span class="show-password" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
                    </span>
                </div>
                <div *ngIf="passwordRecoveryForm.get('newPassword')?.hasError('minlength')">
                    La contraseña debe tener al menos 6 caracteres.
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirmar contraseña</label>
                <div class="input-container">
                    <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword"
                        placeholder="Confirmar contraseña" autocomplete="off">
                    <span class="show-password" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
                    </span>
                </div>
                <div *ngIf="passwordRecoveryForm.get('confirmPassword')?.hasError('required')">
                    Este campo es obligatorio.
                </div>
            </div>

            <button type="submit" [disabled]="passwordRecoveryForm.invalid">Guardar contraseña</button>
            <p>Hola {{username}}, tu nueva contraseña debe tener al menos <span>6 caracteres</span>.</p>
        </form>
        <div class="blur-effect"></div>
    </div>
</section>