.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('../../../../assets/css/img/banner_login.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    justify-content: center;
    margin: 0 auto 25px auto;
    color: #ffffff;
}

p {
    font-size: 18px;
    margin-top: 25px;
    color: #3b3b3b;
    text-align: justify;

    span {
        color: #585858;
        font-weight: bold;
        border-bottom: 1px solid #585858;
    }
}

.form-container {
    width: 450px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.377);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.432);
    position: relative;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.input-container {
    position: relative;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8px;
    font-size: 16px;
}

.show-password {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #585858;
}

button {
    background-color: #585858;
    border: 3px solid #4e4e4e;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
}

button:hover {
    background-color: #333;
    border: 3px solid #333;
}

.blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
}