.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('../../../../assets/css/img/banner_login.jpg');
    background-size: cover;
    color: #fff;
}

.centered-form {
    max-width: 500px;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #9c7822;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.links a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#btnRegister {
    padding: 5px 0;
}

#btnRegister span {
    margin-left: 5px;
    font-weight: 600;
}

/* Add this style for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease-out;
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

.modal-content p {
    margin: 10px 0;
    color: #000;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content button {
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    width: 20%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}