<dashboard>
    <h2 class="title">A continuación la lista de los usuarios registrados en la Base de Datos.</h2>
    <div class="users">
        <div class="user-card" *ngFor="let user of users">
            <div class="user-info">
                <img src="https://www.w3schools.com/w3images/avatar2.png" alt="User Image">
                <p id="name">{{ user.name }} {{user.lastName}} </p>
                <p id="email">{{ user.email }}</p>
                <p id="role">{{user.role}}</p>
            </div>

            <div class="user-actions">
                <button id="btnLock" (click)="blockUser(user)" data-tooltip="Bloquear">
                    <mat-icon svgIcon="lock-access"></mat-icon>
                </button>
                <button id="btnDelete" (click)="openModal(user)" data-tooltip="Eliminar">
                    <mat-icon svgIcon="user-delete"></mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="modal" *ngIf="showModal">
        <div class="modal-content">
            <p>¿Estás seguro que deseas eliminar al usuario {{ userToDelete?.name }}?</p>
            <div class="btns">
                <button id="btnYes" (click)="deleteUserConfirmed()">Eliminar</button>
                <button id="btnNo" (click)="closeModal()">Cancelar</button>
            </div>
        </div>
    </div>
</dashboard>