/* Estilos para el banner */
.banner {
    width: 100%;
    height: 600px;
    background: url("../../../assets/css/img/banner_contacto.jpg") rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
    padding: 100px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.content {
    width: 90%;
    margin: 40px auto;
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.2em;
}

/* Contacto */

.content .title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contactList,
.socialList {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 15px auto;
}

.contactList li,
.socialList li {
    padding: 15px 40px;
    list-style: none;
}

.contactList li a,
.socialList li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: all 300ms;

}

.contactList li a:hover,
.socialList li a:hover {
    text-shadow: 0 0 5px #000000b6;
}

.contactList li a i,
.socialList li a i {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
}

/* MAPA */
#map {
    text-align: center;
    justify-content: center;
    margin: 20px auto;
}

#map iframe {
    width: 70%;
    height: 500px;
    margin: auto;
    border: none;
}