/* Estilos para el banner */
.banner {
    width: 100%;
    height: 600px;
    background: url("../../../assets/css/img/banner_contacto.jpg") rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
    padding: 100px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.content {
    width: 90%;
    margin: 40px auto;
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.2em;
}

/* Contacto */
.content {
    width: 90%;
    display: flex;
    margin: 40px auto;
    justify-content: space-around;
    padding: 10px;
}

.content .right {
    padding: 10px;
    width: 45%;
}

.content .left {
    padding: 20px;
    width: 45%;
}

.btns_contact {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 25px auto;
}

.btns_contact a {
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 10px;
    background: #ccccccaf;
    backdrop-filter: blur(10px);
    margin: 10px;
    color: #fff;
    font-weight: 600;
}

.btns_contact i {
    margin-right: 10px;
}

#instagram {
    background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
}

#facebook {
    background: linear-gradient(135deg, #599ef8fa, #1877f2, #1876f2c2);
}

#whatsapp {
    background: linear-gradient(135deg, #25d366, #25d366);
}

#gmail {
    background: linear-gradient(135deg, #dd4b39, #dd4b39);

}

.location {
    margin: 20px 0;
}

.location p {
    padding: 5px;
}

/* MAPA */
#map {
    text-align: center;
    justify-content: center;
    margin: 20px auto;
}

#map iframe {
    width: 90%;
    height: 500px;
    margin: auto;
    border: none;
    border-radius: 8px;
}

@media screen and (max-width: 850px) {
    .banner {
        padding: 80px 20px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .content .right,
    .content .left {
        width: 100%;
    }
}