<section class="banner">
    <div class="textBanner">
        <h1>C O N T A C T A N O S</h1>
        <p>En esta sección encontrarás nuestros enlaces para contacto</p>
    </div>
</section>

<section class="content">
    <div class="contactInfo">
        <p class="title">Nos puedes contactar en los siguientes enlaces</p>
        <ul class="contactList">
            <li><a href=""><i class="fa fa-phone"></i> +57 123 4567 890</a></li>
            <li><a href=""><i class="fa fa-envelope"></i> estilos.tendencias@example.com</a></li>
        </ul>
    </div>
    <div class="social">
        <p class="title">Tambien nos puede seguir en nuestras redes sociales</p>
        <ul class="socialList">
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i>
                    @estilos_tendencias</a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i> Salon Estilos &
                    Tendecias</a></li>
        </ul>
    </div>
    <div id="map">
        <iframe [src]="mapUrl" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>



</section>