/* BANNER */
#banner {
    width: 100%;
    margin: 0 auto;
    background: url("banner.jpg") rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
    padding: 100px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
}

#banner .information {
    text-align: center;
}

#banner .information h1 {
    color: #fff;
    font-size: 45px;
}

.information p {
    color: #fff;
    text-align: justify;
}

/* ABOUT */
#about .container {
    width: 95%;
    display: flex;
    margin: 50px auto;
}

#about #picture {
    width: 40%;
    height: auto;
}

#about #picture img {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    border: none;
}

#about .information-instagram .posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#about .information-instagram .post {
    box-sizing: border-box;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    padding: 15px;
    background: #b8b8b8a4;
    border-radius: 15px;
    backdrop-filter: blur(10px);

}

#about .information-instagram .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#about .information-instagram .user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 15px 0 0;
    padding: 1px;
    border: 2px dashed rgb(88, 2, 67);
}

#about .information-instagram .user-info h1 {
    color: #000;
    font-size: 24px;
    margin: 0;
}

#about .information-instagram .post-content {
    position: relative;
}

#about .information-instagram .post-content img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

#about .information-instagram #description {
    color: #000;
    text-align: justify;
    margin-bottom: 15px;
}

#about .information-instagram #title-post {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 0 auto 10px auto;
}

@media screen and (max-width: 868px) {
    #banner {
        padding: 80px 20px;
        /* Ajusta el padding para dispositivos más pequeños */
    }

    #about .container {
        flex-direction: column;
        /* Cambia a disposición de columna para dispositivos más pequeños */
        align-items: center;
    }

    #about #picture {
        width: 100%;
        /* Ocupa el ancho completo para dispositivos más pequeños */
    }

    #about .information-instagram .post {
        width: 100%;
        /* Ocupa el ancho completo para dispositivos más pequeños */
    }

    #about .information-instagram .user-info img {
        margin-right: 0;
        /* Elimina el margen derecho para dispositivos más pequeños */
    }
}