<section id="banner">
    <div class="logo-container">
        <a href="#"><img src="/assets/css/img/logo2.png" alt="logo" class="logo"></a>
    </div>
</section>

<section id="about">
    <div class="container">
        <div id="picture">
            <a href="#about"><img src="/assets/css/img/picture.jpg" alt="presentacion"></a>
        </div>
        <div class="information">
            <h1 id="title">Estilos y Tendencias</h1>
            <p id="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ex rem
                veritatis,
                laudantium architecto quos alias rerum officia sunt consequuntur minus voluptas unde earum nihil. Quos
                cumque maxime natus iusto. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur,
                consequuntur dicta, inventore hic nulla quo a in earum distinctio, neque cumque dolorem voluptatem alias
                fuga unde! Nisi harum tenetur repellendus!
            </p>
        </div>
    </div>
    <div class="galery">

        <div class="pictures">
            <div class="grid-item">
                <img src="/assets/css/img/imagen1.jpg" alt="Imagen 1">
            </div>
            <div class="grid-item">
                <img src="/assets/css/img/imagen2.jpg" alt="Imagen 2">
            </div>
            <div class="grid-item">
                <img src="/assets/css/img/imagen3.jpg" alt="Imagen 3">
            </div>
            <div class="grid-item">
                <img src="/assets/css/img/imagen4.jpg" alt="Imagen 4">
            </div>
            <div class="grid-item">
                <img src="/assets/css/img/imagen5.jpg" alt="Imagen 5">
            </div>
            <div class="grid-item">
                <img src="/hairdresser/src/assets/css/img/imagen6.jpg" alt="Imagen 6">
            </div>
        </div>
    </div>
</section>