<section id="banner">
    <div class="logo-container">
        <a href="#"><img [src]="logoBanner" alt="logo" class="logo"></a>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="information-instagram">
            <div class="posts-container">
                <div *ngFor="let post of posts" class="post">
                    <div class="user-info">
                        <img src="{{logo}}" alt="user">
                        <h1 id="title">Estilos_Tendencias</h1>
                    </div>
                    <div class="post-content">
                        <img src="{{post.image}}" alt="Imagen">
                        <p id="title-post">💈{{post.name}}💈</p>
                        <p id="description">{{post.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slider">
    <h3>Somos distribuidores oficiales de:</h3>
    <div class="brands">
        <div class="brands-slide" *ngFor="let supplier of suppliers">
            <img src="{{supplier.image}}" alt="{{supplier.name}}">
            <p>{{supplier.name}}</p>
        </div>
        <div class="brands-slide" *ngFor="let supplier of suppliers">
            <img src="{{supplier.image}}" alt="{{supplier.name}}">
            <p>{{supplier.name}}</p>
        </div>
        <div class="brands-slide" *ngFor="let supplier of suppliers">
            <img src="{{supplier.image}}" alt="{{supplier.name}}">
            <p>{{supplier.name}}</p>
        </div>
    </div>


</section>