<section class="content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="centered-form">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" />
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</section>