.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('../../../assets/css/img/banner_login.jpg');
    background-size: cover;
    color: #fff;
}

.centered-form {
    max-width: 500px;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #9c7822;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.links a:hover {
    text-decoration: underline;
}

#btnRegister {
    padding: 5px 0;
}

#btnRegister span {
    margin-left: 5px;
    font-weight: 600;
}