.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../../../assets/css/img/banner_login.jpg');
    background-size: cover;
}

.centered-form {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #9c7822;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}