<section class="banner">
    <div class="textBanner">
        <h1>S E R V I C I O S</h1>
        <p>En esta sección encontrarás los servicios disponibles en el salón de belleza</p>
    </div>
</section>

<div class="content">
    <h1 id="title">Tenemos las siguientes categorías donde podemos atenderte</h1>
    <div class="categories">
        <section class="leftColumn">
            <h1>Damas:</h1>
            <div class="dama">
                <div class="category">
                    <img src="../../../assets/css/img/unas.jpg" alt="">
                    <p>UÑAS</p>
                </div>
                <div class="category">
                    <img src="../../../assets/css/img/unas.jpg" alt="">
                    <p>UÑAS</p>
                </div>
            </div>
        </section>
        <section class="rightColumn">
            <h1>Caballeros:</h1>
            <div class="caballero">
                <div class="category">
                    <img src="../../../assets/css/img/cabello.jpg" alt="">
                    <p>CORTE DE CABELLO</p>
                </div>
                <div class="category">
                    <img src="../../../assets/css/img/cabello.jpg" alt="">
                    <p>CORTE DE CABELLO</p>
                </div>
                <div class="category">
                    <img src="../../../assets/css/img/cabello.jpg" alt="">
                    <p>CORTE DE CABELLO</p>
                </div>

            </div>
        </section>
    </div>
</div>