<section class="banner">
    <div class="textBanner">
        <h1>S E R V I C I O S</h1>
        <p>En esta sección encontrarás los servicios disponibles en el salón de belleza</p>
    </div>
</section>

<div class="content">
    <p id="description">En Estilos & Tendencias ofrecemos diversos servicios de peluquería y barbería para nuestros
        clientes. A continuación, selecciona el tipo de filtro de tu preferencia.</p>
    <div class="peluquera-services">

        <div class="filter-buttons">
            <button (click)="filterServices('mujer')">Dama</button>
            <button (click)="filterServices('hombre')">Caballero</button>
        </div>

        <div class="service-grid">
            <div class="service-item" *ngFor="let service of filteredServices">
                <p id="name">{{ service.name }}</p>
                <img [src]="service.imageUrl" alt="{{ service.name }}" />
                <p>{{ service.description }}</p>
            </div>
        </div>
    </div>
</div>