<section class="banner">
    <div class="textBanner">
        <h1>S E R V I C I O S</h1>
        <p>En esta sección encontrarás los servicios disponibles en el salón de belleza</p>
    </div>
</section>

<section class="content">
    <p id="description">En Estilos & Tendencias ofrecemos diversos servicios de peluquería y barbería para nuestros
        clientes. A continuación, selecciona el tipo de filtro de tu preferencia.</p>
    <div class="peluquera-services">

        <div class="filter-buttons">
            <button (click)="filterServices('woman')">Dama</button>
            <button (click)="filterServices('man')">Caballero</button>
        </div>

        <div class="cardsContainer">
            <div *ngIf="loading" class="loader-container">
                <div class="loader"></div>
            </div>
            <ng-container *ngFor="let service of filteredServices">
                <div class="card">
                    <div class="face front">
                        <img [src]="service.image" alt="{{ service.name }}" />
                        <h3 id="name">{{ service.name }}</h3>
                    </div>
                    <div class="face back">
                        <h3>{{service.name}}</h3>
                        <p>{{ service.description }}</p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>