<div class="container">
    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="/Estilos_Tendencias/assets/css/img/logo2.png" alt="Logo de la empresa" class="logo" />
            <div class="user-info">
                <p>Bienvenido</p>
                <h3>{{ username }}</h3>
            </div>
        </div>
        <ul class="menu">
            <li class="menu-item" [class.active]="isMenuOpen('home')" (click)="toggleMenu('home')">
                <a> <mat-icon svgIcon="home"></mat-icon> Inicio </a>
            </li>
            <li class="menu-item" [class.active]="isActive('/admin-panel/users-list')">
                <a [routerLink]="['/admin-panel/users-list']"> <mat-icon svgIcon="users"></mat-icon> Usuarios </a>
            </li>
            <li class="menu-item" [class.active]="isMenuOpen('config')" (click)="toggleMenu('config')">
                <a> <mat-icon svgIcon="settings"></mat-icon> Configuración </a>
            </li>
            <li class="menu-item" [class.active]="isMenuOpen('products')" (click)="toggleMenu('products')">
                <a>
                    <mat-icon svgIcon="products"></mat-icon> Productos
                    <i class="fas" [ngClass]="{
                        'fa-chevron-down': isMenuOpen('products'),
                        'fa-chevron-right': !isMenuOpen('products')
                    }" id="chevron"></i>
                </a>
                <ul class="sub-menu" *ngIf="isMenuOpen('products')">
                    <li [routerLink]="['/admin-panel/products-list']" routerLinkActive="router-link-active">
                        <a>Lista de Productos</a>
                    </li>
                    <li [routerLink]="['/admin-panel/create-product']" routerLinkActive="router-link-active">
                        <a>Crear Producto</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item" [class.active]="isMenuOpen('services')" (click)="toggleMenu('services')">
                <a>
                    <mat-icon svgIcon="services"></mat-icon> Servicios
                    <i class="fas" [ngClass]="{
                        'fa-chevron-down': isMenuOpen('services'),
                        'fa-chevron-right': !isMenuOpen('services')
                    }" id="chevron">
                    </i>
                </a>
                <ul class="sub-menu" *ngIf="isMenuOpen('services')">
                    <li [routerLink]="['/admin-panel/list-services']" routerLinkActive="router-link-active">
                        <a>Lista de Servicios</a>
                    </li>
                    <li [routerLink]="['/admin-panel/create-service']" routerLinkActive="router-link-active">
                        <a>Crear Servicio</a>
                    </li>
                </ul>
            </li>

        </ul>
        <div class="logout">
            <a (click)="logOut()">
                <mat-icon svgIcon="logout"></mat-icon> Cerrar sesión
            </a>
        </div>
    </aside>

    <main class="content">
        <ng-content></ng-content>
    </main>
</div>