<section class="banner">
    <div class="textBanner">
        <h1>S E R V I C I O S</h1>
        <p>En esta sección encontrarás los servicios disponibles en el salón de belleza</p>
    </div>
</section>

<section class="content">
    <p id="description">En Estilos & Tendencias ofrecemos diversos servicios de peluquería y barbería para nuestros
        clientes. A continuación, selecciona el tipo de filtro de tu preferencia.</p>
    <div class="peluquera-services">

        <div class="filter-buttons">
            <button (click)="filterServices('all')">Todos</button>
            <button (click)="filterServices('Damas')">Dama</button>
            <button (click)="filterServices('Caballeros')">Caballero</button>
        </div>

        <div class="cardsContainer">
            <ng-container *ngFor="let service of filteredServices">
                <div class="card">
                    <img [src]="service.image" alt="{{service.image}}" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">{{service.name}}</h2>
                        <p>{{service.description}}</p>
                        <a href="#" class="btn">Agendar</a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>